{% extends "layouts/base.html" %}

{% block title %} Quatation Addition {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
<!--
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Volt</a></li>
                <li class="breadcrumb-item active" aria-current="page">Transactions</li>
            </ol>
        -->
        </nav>
        <h2 class="h4">To this question, add quatation.</h2>
        <p class="mb-0">Green Fuel validation Platform.</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        
        <!--
        <div class="btn-group ms-2 ms-lg-3">
            <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
            <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
        </div>
    -->
    </div>
</div>

<!--
<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <div class="input-group me-2 me-lg-3 fmxw-400">
                <span class="input-group-text">
                    <svg class="icon icon-xs" x-description="Heroicon name: solid/search"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </span>
                <input type="text" class="form-control" placeholder="Search orders">
            </div>
        </div>
        <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
            <div class="dropdown">
                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
                    <span class="small ps-3 fw-bold text-dark">Show</span>
                    <a class="dropdown-item d-flex align-items-center fw-bold" href="#">10 <svg
                            class="icon icon-xxs ms-auto" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg></a>
                    <a class="dropdown-item fw-bold" href="#">20</a>
                    <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="card card-body border-0 shadow table-wrapper table-responsive">

    {% if messages %}
                    
    <div class="alert alert-secondary mt-5" role="alert">
        {% for message in messages %}
        <span class="alert-inner--text">{{ message }}</span>
        {% endfor %}
    </div>
    
    {% endif %}


    <div class="d-block">
    <div class="d-inline h4 mb-4">
        {{ question.name }} 
        
    </div>
    <div class="d-inline h4 mb-4" style="float: right;" >
        {% if quatation %}
            <a  href="{{report_link}}">Print</a>
        {% endif %}    
        
        
    </div>
</div>

    <li role="separator" class="dropdown-divider mb-0 border-gray-700"></li>

    <div hx-target="this" hx-swap="outerHTML">

        <form id="quotation_form" method="post" enctype="multipart/form-data" action="{% url 'home:add_quatation' question.slug %}">
            {% csrf_token %}

            


            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group mb-4">
                        <div class="row input-group">
                            
                            <div class="mb-4">
                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.price.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.price_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.price.id_for_label }}">{{ form.price.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.price.help_text %} {{ form.price.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                       <span>{{ form.price }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.price_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.needy_time.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.needy_time_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.needy_time.id_for_label }}">{{ form.needy_time.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.needy_time.help_text %} {{ form.needy_time.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.needy_time }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.needy_time_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.sample_amount.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.sample_amount_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.sample_amount.id_for_label }}">{{ form.sample_amount.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.sample_amount.help_text %} {{ form.sample_amount.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.sample_amount }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.sample_amount_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->

                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.require_documents.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.require_documents.id_for_label }}">{{ form.require_documents.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.require_documents.help_text %} {{ form.require_documents.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.require_documents }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.factory_pickup.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.factory_pickup.id_for_label }}">{{ form.factory_pickup.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.factory_pickup.help_text %} {{ form.factory_pickup.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.factory_pickup }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.test_for.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.test_for.id_for_label }}">{{ form.test_for.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.test_for.help_text %} {{ form.test_for.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.test_for }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.related_questions.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.related_questions.id_for_label }}">{{ form.related_questions.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.related_questions.help_text %} {{ form.related_questions.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.related_questions }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->

                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.quotation_format.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.quotation_format.id_for_label }}">{{ form.quotation_format.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.quotation_format.help_text %} {{ form.quotation_format.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span >{{ form.quotation_format }}</span> 
                                    </div>
                                    
                                </div>
                                {% if quatation.quotation_format %}
                                <embed class="mt-4" src="{% static quatation.quotation_format.url  %}#toolbar=0&navpanes=0&scrollbar=0" frameborder="0" width="75%" height="800px"  type="application/pdf">
                                   {% else %} 
                                   No PDF Found
                                   {% endif %}
                                    
                                </div>
                                <!--form end-->

                                


                                


                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 


        


            <input class="btn btn-success btn-block" type="submit" name = "add_quatation" value="Add Quatation">
           <!-- <input class="btn btn-success btn-block" type="submit" hx-post="#ssss" hx-push-url="{% url 'home:questions' %}"  value="Save" hx-target="#pppp"  hx-swap="outerHTML" hx-vals='{"save": "save"}' hx-trigger="click">--> 

            

        </form>






    </div>









</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}