{% if msg %}
<div class="alert alert-secondary shadow-soft" role="alert">
    {% for m in msg %}
    <span class="alert-inner--text">{{ m }}</span>
    {% endfor %}
</div>
{% endif %}
<form id="ques_sug_form" hx-post="{% url 'home:add_new_service' %}" hx-target="#newserviceform" hx-swap="innerHTML">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 mb-3">
            <div class="form-group mb-4">
                <div class="row">
                    <div class="p-2 col-sm-12">

                        {{ form.name_and_standared }}<br>
                        {{ form.name_and_standared.errors }}
                    </div>
                    <div class="p-2 col-sm-912">
                        {{ form.short_description }}<br>
                        {{ form.short_description.errors }}
                    </div>
                </div>
                <div class="row">
                    <div class="p-2 col-12">
                        {{ form.descriptions }}<br>
                        {{ form.descriptions.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="p-2 col-12">
                        {{ form.url }}<br>
                        {{ form.url.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="p-2 col-12">                      
                        {{ form.priority }}
                        {{ form.priority.errors }}
                        
                    </div>
                    
                </div>

                

                <div class="row">
                    <div class="p-2 col-12">
                        {{ form.compulsory_questions.label_tag }}
                        {% if form.priority.help_text %}
                        <p class="form-text">{{ form.compulsory_questions.help_text|safe }}</p>
                        {% endif %}
                        {{ form.compulsory_questions }}<br>
                        {{ form.compulsory_questions.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="p-2 col-12">
                        {{ form.related_questions.label_tag }}
                        {% if form.priority.help_text %}
                        <p class="form-text">{{ form.related_questions.help_text|safe }}</p>
                        {% endif %}
                        {{ form.related_questions }}<br>
                        {{ form.related_questions.errors }}
                    </div>
                </div>
                
                <div class="row">
                    <div class="p-2 col-12">
                        {{ form.is_active.label_tag }} {{ form.is_active }}<br>
                        {{ form.is_active.errors }}
                    </div>
                    {% if form.is_active.help_text %}
                    <p class="form-text">{{ form.is_active.help_text|safe }}</p>
                    {% endif %}
                </div>
                

                <button class="btn btn-primary">Submite to Review</button>
                <a class="btn btn-warning" hx-get="{% url 'home:get_new_sugestion_list' %}" hx-target="#new_sug_list"
                    hx-swap="innerHTML">View all</a>

            </div>
        </div>
    </div>

</form>

<div class="container">
    <div class="row">
        <div class="col-12" id="new_sug_list">
        </div>
    </div>
</div>