{% extends "layouts/base.html" %}

{% block title %} Quatation Addition {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">

        </nav>
        <h2 class="h4">To this question, add quatation.</h2>
        <p class="mb-0">Green Fuel validation Platform.</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">

    </div>
</div>

>
-->
<div class="card card-body border-0 shadow table-wrapper table-responsive">

    {% if messages %}
                    
    <div class="alert alert-secondary mt-5" role="alert">
        {% for message in messages %}
        <span class="alert-inner--text">{{ message }}</span>
        {% endfor %}
    </div>
    
    {% endif %}


    <div class="d-block">
    <div class="d-inline h4 mb-4">
        {{ question.name }} 
        
    </div>
    <div class="d-inline h4 mb-4" style="float: right;" >
        {% if quatation %}
            <a  href="{{report_link}}">Print</a>
        {% endif %}    
        
        
    </div>
</div>

    <li role="separator" class="dropdown-divider mb-0 border-gray-700"></li>

    <div hx-target="this" hx-swap="outerHTML">

        <form id="quotation_form" method="post" enctype="multipart/form-data" action="{% url 'home:add_quatation' question.slug %}">
            {% csrf_token %}

            


            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group mb-4">
                        <div class="row input-group">
                            
                            <div class="mb-4">
                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.price.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.price_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.price.id_for_label }}">{{ form.price.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.price.help_text %} {{ form.price.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                       <span>{{ form.price }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.price_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.needy_time.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.needy_time_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.needy_time.id_for_label }}">{{ form.needy_time.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.needy_time.help_text %} {{ form.needy_time.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.needy_time }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.needy_time_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.sample_amount.errors }}</div>
                                    <div class="text-error invalid-feedback">{{ form.sample_amount_unit.errors }}</div>
                                    <div class="col-auto">
                                        <label  for="{{ form.sample_amount.id_for_label }}">{{ form.sample_amount.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.sample_amount.help_text %} {{ form.sample_amount.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.sample_amount }}</span> 
                                    </div>
                                    <div class="col-auto">
                                        {{ form.sample_amount_unit }}
                                    </div>
                                </div>
                                </div>
                                <!--form end-->

                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.require_documents.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.require_documents.id_for_label }}">{{ form.require_documents.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.require_documents.help_text %} {{ form.require_documents.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.require_documents }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.factory_pickup.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.factory_pickup.id_for_label }}">{{ form.factory_pickup.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.factory_pickup.help_text %} {{ form.factory_pickup.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.factory_pickup }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4" style="display: none;">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.test_for.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.test_for.id_for_label }}">{{ form.test_for.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.test_for.help_text %} {{ form.test_for.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.test_for }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->


                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.related_questions.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.related_questions.id_for_label }}">{{ form.related_questions.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.related_questions.help_text %} {{ form.related_questions.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span>{{ form.related_questions }}</span> 
                                    </div>
                                    
                                </div>
                                </div>
                                <!--form end-->

                                <!--form start-->
                                <div class="form-group mt-4">
                                <div class="row g-3 align-items-center">
                                    <div class="text-error invalid-feedback">{{ form.quotation_format.errors }}</div>                                    
                                    <div class="col-auto">
                                        <label  for="{{ form.quotation_format.id_for_label }}">{{ form.quotation_format.label }} </label>  
                                        <span class="btn btn-outline-primary p-1 rounded-circle text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="{% if form.quotation_format.help_text %} {{ form.quotation_format.help_text|safe }}  {% endif %}">?</span> 
                                    </div> 
                                    <div class="col-auto">
                                        <span >{{ form.quotation_format }}</span> 
                                    </div>
                                    
                                </div>
                                {% if quatation.quotation_format %}
                                <embed class="mt-4" src="{% static quatation.quotation_format.url  %}#toolbar=0&navpanes=0&scrollbar=0" frameborder="0" width="75%" height="800px"  type="application/pdf">
                                   {% else %} 
                                   No PDF Found
                                   {% endif %}
                                    
                                </div>
                                <!--form end-->

                                


                                


                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 


        


            <input class="btn btn-success btn-block" type="submit" name = "add_quatation" value="Add Quatation">
            <a class="btn btn-success btn-block" href="{% url 'home:questions' %}">Go Back to Questions</a>
            <a class="btn btn-success btn-block" href="{{report_link}}">See Final Pdf</a>
           <!-- <input class="btn btn-success btn-block" type="submit" hx-post="#ssss" hx-push-url="{% url 'home:questions' %}"  value="Save" hx-target="#pppp"  hx-swap="outerHTML" hx-vals='{"save": "save"}' hx-trigger="click">--> 

            

        </form>






    </div>









</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}