{% extends "layouts/base.html" %}

{% block title %} All reports {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card border-0 shadow table-wrapper table-responsive">
    <div class="card-header">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                </nav>
                <h2 class="h4">All Reports</h2>
                <p class="mb-0">Genarated by biofuel producers.</p>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th class="border-bottom" scope="col">#Report</th>
                    <th class="border-bottom" scope="col">Bio Fuel</th>
                    <th class="border-bottom" scope="col">Orgonization</th>
                    <th class="border-bottom" scope="col">Answered</th>
                    <th class="border-bottom" scope="col">Positive</th>
                    <th class="border-bottom" scope="col">Don't Know</th>
                    <th class="border-bottom" scope="col">Don't Know %</th>
                    <th class="border-bottom" scope="col">Positive %</th>
                </tr>
            </thead>
            <tbody>
                {% if allreports %}
                {% for allreport in allreports %}
                <tr>
                    <td class="text-gray-900" scope="row">#
                        <a href="{% url 'evaluation:nreport'  allreport.g_report.report.slug %}" target="_blank">{{ allreport.g_report.report.id }}</a>
                    </td>
                    <td class="fw-bolder text-gray-500">
                        {{ allreport.g_report.report.biofuel }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        {{ allreport.g_report.report.orgonization }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        #{{ allreport.g_report_result.answered_questiones }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        #{{ allreport.g_report_result.positive_ans }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        #{{ allreport.g_report_result.dont_know_ans }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        {{ allreport.g_report_result.dont_know_percent }}
                    </td>
                    <td class="fw-bolder text-gray-500">
                        {{ allreport.g_report_result.positive_percent }}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <div class="alert alert-primary" role="alert">
                    No report Found!
                </div>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation ">
            <ul class="pagination justify-content-center">
                {% if allreports.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link"
                        href="?page={{ allreports.previous_page_number }}">previous</a></li>
                {% endif %}
                <li class="page-item page-link"> Page {{ allreports.number }} of {{ allreports.paginator.num_pages }}.
                </li>
                {% if allreports.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ allreports.next_page_number }}">next</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ allreports.paginator.num_pages }}">last
                        &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}