{% extends "includes/g_base.html" %}
{% load static %}

{% block title %}{{site_info.title}}{% endblock %}

{% block header %}
    {% include 'includes/g_header_front.html' %}
{% endblock %}

{% block main %}
    <main class="flex-shrink-0 mh-100">        
        <div class="section bgjessica-light" style="min-height: 100vh;">
            {% include "includes/hero_section_front.html" %}
            <div class="container">
                <div class="row ring-big-icon" >
                    <svg id="44c2246f-7158-4e1b-b750-061a9c552f63" data-name="Rings"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1875.93 1281.63" height="100%">
                        <title>rings</title>
                        <path
                            d="M-220.89-114.35c-213.72,0-387.59,173.9-387.59,387.59S-434.6,660.84-220.89,660.84,166.7,486.94,166.7,273.24-7.17-114.35-220.89-114.35Zm0,620.14c-128.23,0-232.55-104.32-232.55-232.55S-349.11,40.69-220.89,40.69,11.67,145,11.67,273.24-92.66,505.8-220.89,505.8Z"
                            transform="translate(608.48 491.6)" style="fill:#e3e11f" />
                        <path
                            d="M1174.44-67.83c0-153.87-125.18-279.07-279.07-279.07S616.31-221.7,616.31-67.83,741.49,211.23,895.37,211.23,1174.44,86,1174.44-67.83ZM895.37,45.86A113.81,113.81,0,0,1,781.68-67.83,113.81,113.81,0,0,1,895.37-181.53,113.81,113.81,0,0,1,1009.07-67.83,113.81,113.81,0,0,1,895.37,45.86Z"
                            transform="translate(608.48 491.6)" style="fill:#25a64a" />
                            <circle cx="1710.56" cy="1116.26" r="165.37" style="fill:#7fa63f" />
                        <path
                            d="M89.19-491.6A103.36,103.36,0,0,0-14.17-388.24,103.36,103.36,0,0,0,89.19-284.88,103.36,103.36,0,0,0,192.54-388.24,103.36,103.36,0,0,0,89.19-491.6Z"
                            transform="translate(608.48 491.6)" style="fill:#ed1c24" />
                    </svg>
                </div>
                <div class="row d-flex justify-content-center align-items-end">
                    <div class="col-lg-5 text-start"  data-aos="fade-left ">
                        <div class="text-center">
                            <p class="w-100 text-start mb-2 fs-5 jessica-text">Part of</p>
                            <img class="img-fluid w-75 text-end mb-lg-4"
                                src="{% static 'assets/shippinglab-logo.svg' %}" alt="Shipping lab" title="Shipping lab" width="auto" height="auto">
                            <p class="text-start fs-5 jessica-text">Financed through Danish Maritime Fund</p>
                        </div>
                    </div>
                    <div class="col-lg-7 text-end"  data-aos="fade-right">
                        <i class="fa-solid fa-chevrons-left"></i>
                        {% if user.is_authenticated %} 
                        <div class="w-100">
                            <a class="btn btnjessica-primary animate-hover px-4 py-3 mb-4 w-50"
                                href="{% url 'accounts:user_link' %}"><i class="fa-solid fa-chevron-left animate-left-3"></i> LOGGED IN AS <span
                                    class="text-secondary">{{user.username}}</span> </a>
                        </div>
                        {% else %}
                        <div class="w-100">
                            <a class="btn btnjessica-primary animate-hover px-4 py-3 mb-4 w-50" href="#register"><i class="fa-solid fa-chevron-left animate-left-3"></i> REGISTER </a>
                        </div>
                        <div class="w-100">
                            <a class="btn btnjessica-primary animate-hover px-4 py-3 mb-4 w-50" href="{% url 'login' %}"><i class="fa-solid fa-chevron-left animate-left-3"></i> LOGIN </a>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div id="about" class="section bgjessica-light pt-0 pb-0 ">

            <div class="col-12 card-header">               

                

                <div class="container px-4 py-5" id="icon-grid">
                    <div class="pb-2 border-bottom">
                        <h2>About Us</h2>                       
                    </div>

                    <div class="pb-2">                    
                        <p>Welcome to the Green Fuel Validation Platform, your comprehensive solution for assessing the sustainability and 
                            essential properties of green fuel. Our platform is designed to assist businesses in making well-informed decisions 
                            about the green fuel they use.</p>
                        <p>We offer a wide range of services to support your green fuel choices, including:</p>
                    </div>
                
                    <div class="row row-cols-1  g-4 py-5">
                      <div class="col d-flex align-items-start">
                        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
                        <div>
                          <h4 class="fw-bold mb-0">Global Green Fuel Database</h4>
                          <p>Access an extensive repository of green fuel sources and accredited verification laboratories from around the world.
                        </p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
                        <div>
                          <h4 class="fw-bold mb-0">Interactive Producer Directory:</h4>
                          <p>Dive into our interactive database, providing detailed information about green fuel producers who have joined our platform.
                        </p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
                        <div>
                          <h4 class="fw-bold mb-0">Comprehensive Fuel Assessment:</h4>
                          <p> Utilize a secure and transparent assessment process that evaluates both the sustainability and essential properties of green fuels. Green fuel producers receive detailed reports showcasing their adherence to green fuel regulations and the fuel's performance characteristics.
                        </p>
                        </div>
                      </div>
                      <div class="col d-flex align-items-start">
                        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
                        <div>
                          <h4 class="fw-bold mb-0">Lab Connections: </h4>
                          <p>We facilitate connections with accredited laboratories that can perform property measurements and sustainability calculations, further assisting producers in achieving the highest standards.
                        </p>
                        </div>
                      </div>
                     
                    </div>

                    <div class="pb-2 border-bottom">
                        <p>At GF-VP.com, we are dedicated to empowering businesses with the information and tools they need to make intelligent and sustainable choices regarding green fuel.
                        </p>
                        <p>Our platform is proudly supported by Shipping Lab, an international research and development organization dedicated to reducing the environmental impact of global shipping.
                        </p>
                        <p>Thank you for choosing the Green Fuel Validation Platform. We look forward to assisting you in making green fuel decisions that are both environmentally conscious and beneficial for your business.</p>
                    </div>



                  </div>
            </div>
        </div>


        <div id="register" class="section bgjessica-light pt-0 pb-4">
            <div class="col-12">
                <div class="text-center pt-3 jessica-text">
                    {% if not user.is_authenticated %}
                    <h2 class="h1 jessica-text">REGISTER AS</h2>
                    {% else %}
                    <h2 class="h1 jessica-text">GO TO USER-TYPE</h2>
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="row pt-5">
                    <p class="text-center fs-4 jessica-text">{% if not user.is_authenticated %}To register{% else %}To Go to
                        user type{% endif %}, choose the appropriate business category from the list
                        below!</p>
                    {% for user_type in user_types %}
                    <div class="col-12 col-sm-6" data-aos="zoom-in">
                        <div class="card bgjessica-light border-0 shadow mb-3">
                            <a href="{{ user_type.get_absolute_url }}" {% if user_type.active %} {% else %}
                                style="pointer-events: none; opacity: 0.4;" {% endif %}>
                                <div class="card-body">
                                    <div class="row d-block d-xl-flex align-items-center">
                                        <div class="text-center">
                                            <div class="icon icon-shape rounded mb-4">
                                                <img src="{{ user_type.icon.url }}" alt="{{user_type.name}}" title="{{user_type.name}}" width="auto" height="auto">
                                            </div>
                                            <div
                                                class="jessica-text text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                                <h3 class="h5">
                                                    {{ user_type.name }}
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="section py-5 bgjessica-light pb-0">
            <div class="col-12 card-header">
                <div class="text-center">
                    <h2 class="h1 px-lg-5 jessica-text">LATEST BLOGS</h2>
                </div>

                <div class="container">
                    <div class="text-center pb-4 pt-4">
                        <p class="lead px-lg-8 jessica-text">Here is a list of the last three blogs. To view all blogs, click the
                            button
                            below.</p>
                        <a class="btn btnjessica-primary" href="{% url 'blog:post_list' %}">View All Blogs</a>
                    </div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3" >
                        {% for blog in latest_blogs %}
                        <div class="col d-flex"  data-aos="zoom-in">
                            <div class="card bgjessica-light shadow-sm flex-fill overflow-hidden">
                                <img src="{{ blog.image.url }}" class="img-fluid" alt="{{blog.title}}" title="{{blog.title}}" width="auto" height="auto">
                                <div class="card-body">
                                    <p class="card-text jessica-text">{{blog.body|safe|truncatechars:200}}</p>
                                    <div class="">
                                        <div class="btn-group mt-3">
                                            <a class="btn btn-sm btn-outline-primary"
                                                href="{{blog.get_absolute_url}}">Read More
                                            </a>
                                        </div>
                                        <div class="btn-group mt-3">
                                            <div class="btn btn-sm btn-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="#ffffff" class="bi bi-folder2" viewBox="0 0 16 16">
                                                    <path  d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v7a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 12.5v-9zM2.5 3a.5.5 0 0 0-.5.5V6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5zM14 7H2v5.5a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5V7z" />
                                                </svg>
                                            </div>
                                            {% for tag in blog.tags.all %}
                                            <a href="{% url 'blog:post_tag' tag.slug %}"
                                                class="btn btn-sm btn-outline-warning">
                                                {{tag.name}}
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block footer %}
{% include 'includes/g_footer_front.html' %}
{% endblock %}


