{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block title %}{{site_info.title}}{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="container-fluid">

<div class="row ">
    <div class="col-12 mb-3">
        <div class="card card-body">
            <h1>Sugest new testing service you provide</h1>
            
            <div id="newserviceform">
                <button type="button" class="btn btn-primary" hx-get="{% url 'home:add_new_service' %}" hx-target="#newserviceform" hx-swap="innerHTML">
                    Add Service
                </button>
            </div>
            

        </div>
    </div>
    
</div>
</div>

{% endblock content %}
{% block javascripts %}{% endblock javascripts %}