{% extends "layouts/base.html" %}

{% block title %} New Question {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">

        </nav>
        <h2 class="h4">New Question</h2>
        <p class="mb-0">Green Fuel Validation Platform.</p>
    </div>

</div>


<div class="card card-body border-0 shadow table-wrapper table-responsive">



    <div class="card card-head border-0 shadow mb-4 p-4">
        {{ question.name }}
    </div>

    <div hx-target="this" hx-swap="outerHTML">

        <form method="post" action="{% url 'home:new_question' %}">
            {% csrf_token %}

            {{ option_formset.management_form }}




            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group mb-4">
                        <div class="row input-group">
                            {% for q_form in question_form %}
                            <div class="card card-body border-0 shadow mb-4">
                                {{ q_form }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group mb-4">
                        <div class="row input-group">
                            {% for form in option_formset %}
                            <div class="card card-body border-0 shadow mb-4">
                                {{ form }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>



            <input class="btn btn-success btn-block" type="submit" name="add_more" hx-post="." id="add_more"
                value="Save and Stay">
            <input class="btn btn-success btn-block" type="submit" name="save" hx-post="." id="save" value="Save">

        </form>






    </div>









</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}