{% autoescape off %}
Dear {{ quotation_data.price }},
<br>
<br>
Thank you for signing up with us. Your personal data is protected and stored as per the GDPR guidelines, We strictly follow, the GDPR rules for processing data based on your consent.

<br>
<br>

To complete registration procedure, click on the below link to verify your email address:
<br>
<br>


<br>
<br>

For it has always been important that your personal information is handled in a safe manner, and we recommend that you familiarizes yourself with our GDPR Policy that describes how and why we process your personal information.
<br>
<br>
Thank you for taking the time to register with us.

<br>
<br>
You can at any time contact  if you have concerns related to data privacy by emailing our Data Privacy Team  info@gf-vp.com.
<br>
<br>

Best regards,
<br>
<br>
 
Green Fuel Validation Platform<br>

24/7/365 Support: Live Chat | Helpdesk | Email<br><br>

Krishna Hara Chakravarty<br>
GDPR Officer<br>
krishna.hara.chakravarti@gmail.com <br>


Follow us on<br>
https://twitter.com/<br>
https://www.facebook.com/<br>
https://www.linkedin.com/company/<br>
{% endautoescape %}



