{% extends "layouts/base.html" %}
{% load custom_tags %}

{% block title %}{{site_info.title}}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<div class="card card-body border-0 shadow table-wrapper table-responsive bgjessica-primary">
    <div class="card-header">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                </nav>
                <h1 class="h4">All Questions And Quotations</h1>
                <p class="mb-0">Click on the Parent questions to findout all child questions with action button. If you are in small screen then scroll to write.</p>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                
            </div>
        </div>
    </div>
    <div class="card-body">
        <!--Accordion-->
        <div class="accordion" id="accordionPricing">
            {% for question in questions %}
            {% for parent, childs in question.items %}
            <div class="accordion-item border-danger bgjessica-light-primary">
              <h2 class="accordion-header" id="heading{{doc.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{parent.id}}" aria-expanded="false" aria-controls="collapse{{parent.id}}">
                    {{parent.chapter_name}}({{parent.sort_order}})                    
                </button>
              </h2>              
              <div id="collapse{{parent.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{parent.id}}" data-bs-parent="#accordionPricing" style="">
                <div class="accordion-body">
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>                                
                                <th class="border-primary">Question</th> 
                                <th class="border-primary">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Item -->
                            {% for child in childs %} 
                       
                            <tr class="border-danger" style="border-style: dotted;">
                                <td>
                                    <span class="fw-normal">{{ child.name }}({{child.sort_order}})</span>
                                </td>
                                <td>  
                                                     

                                    {% if child|get_quotations_user:user %} 
                                        {% for quotation in  child|get_quotations_user:user %}                                       
                                            {% if user.is_expert or user.is_staff or user.is_superuser %}
                                                <a class="fw-normal btn btn-secondary" href="{{quotation.get_quot_url}}">Quotation #{{quotation.id}}</a>
                                            {% endif %}                                    
                                        {% endfor %}
                                    {% else %}
                                        {% if user.is_expert or user.is_staff or user.is_superuser %}
                                            <a class="fw-normal btn btn-success" href="{{ child.add_quatation }}">Add Quotation</a>
                                        {% endif %}
                                    {% endif %}
                                    
                                    {% if child|get_related_quotations_user:user  %}
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" hx-get="{% url 'home:child_modal_data' child.id %}" hx-target="#modals-here{{child.id}}" hx-trigger="click" _="on htmx:afterOnLoad wait 10ms then add .show to #modal{{child.id}} then add .show to #modal-backdrop{{child.id}}">
                                            Referred from other questions
                                        </button>
                                    {% endif %}
                                    <div id="modals-here{{child.id}}"></div>    
                                                                  

                                </td>
                            </tr>
                            {% endfor %}
                            <!-- Item -->
                
                
                        </tbody>
                    </table>
                </div>




                    
                </div>
              </div>
              
            </div>
            {% endfor %}
            {% endfor %}
            
            
        </div>
        <!--End of Accordion-->
    </div>



    
 



    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        {% include "includes/pagination.html" with page=questions %}
    </div>






</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}