{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{site_info.title}}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

{% endblock stylesheets %}

{% block content %}


<div class="row justify-content-center">
    {% if messages %}
    <div class="col-12 text-start">
        <div class="alert alert-secondary shadow-soft" role="alert">
            {% for message in messages %}
            <span class="alert-inner--text">{{ message }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-center align-items-center">
        
        {% if user.get_profile.company_logo %}
        <div class="d-block mx-auto mb-4 position-relative ">
            <img class="img-fluid rounded-circle shadow" src="{% static user.get_profile.company_logo.url %}" alt="{{user.get_full_name}}" title="{{user.get_full_name}}" width="250px" height="250px">   
            <a class="position-absolute top-50 end-0 translate-middle rounded-circle bg-light btn" href="{% url 'home:delete_avatar' %}">X</a> 
        </div>  
        {% else %}
        <form class="card p-5 mb-5 overflow-hidden" style="width: 300px;" method="post" id="company_logo_form" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="">
                <div class="form-floating">
                    {{ company_logo_form.company_logo }}                   
                </div>
                <span class="text-error invalid-feedback">{{ company_logo_form.company_logo.errors  }}</span>
            </div>   
            <input class="btn btn-primary" name="company_logo_form" name="company_logo_form" type="submit"  value="Upload"> 

        </form> 
        {% endif %}  
      
    </div>
    
   
        <div class="col-12 col-lg-6 d-flex">
            <div class="card border-0 shadow mb-4 p-4 flex-fill">
                <div class="card-header">
                    <h1 class="h5 mb-4">General information and profile settings</h1>
                </div>
                <div class="card-body">
                    <form method="post" id="user_form">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label_tag }}
                                    </label>
                                    <div class="input-group">

                                        {{ user_form.username }}
                                    </div>
                                    <span class="text-error">{{ user_form.username.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.first_name.id_for_label }}"> {{ user_form.first_name.label_tag }} </label>
                                    <div class="input-group">

                                        {{ user_form.first_name }}
                                    </div>
                                    <span class="text-error">{{ user_form.first_name.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.last_name.id_for_label }}">{{ user_form.last_name.label_tag }}
                                    </label>
                                    <div class="input-group">
                                        {{ user_form.last_name }}
                                    </div>
                                    <span class="text-error">{{ user_form.last_name.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label_tag }} </label>
                                    <div class="input-group">
                                        {{ user_form.email }}
                                    </div>
                                    <span class="text-error">{{ user_form.email.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.phone.id_for_label }}">{{ user_form.phone.label_tag }} </label>
                                    <div class="input-group">
                                        {{ user_form.phone }}
                                    </div>
                                    <span class="text-error">{{ user_form.phone.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ user_form.orgonization.id_for_label }}">{{ user_form.orgonization.label_tag }} </label>
                                    <div class="input-group">
                                        {{ user_form.orgonization }}
                                    </div>
                                    <span class="text-error">{{ user_form.orgonization.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->
                        </div>
                        <div class="mt-3 mb-3"> 
                            <input class="btn btn-gray-800 mt-2 animate-up-2" form="user_form" name="user_form" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex">
            <div class="card border-0 shadow mb-4 p-4 flex-fill">
                <div class="card-header">
                    <h2 class="h5 mb-4">Profile Information</h2>
                </div>
                <div class="card-body">
                    <form method="post" id="profile_form">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Form -->
                            <div class="col-md-12 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ profile_form.about.id_for_label }}">{{ profile_form.about.label_tag }}
                                    </label>
                                    <div class="input-group">
                                        {{ profile_form.about }}
                                    </div>
                                    <span class="text-error">{{ profile_form.about.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ profile_form.location.id_for_label }}">{{ profile_form.location.label_tag }}
                                    </label>
                                    <div class="input-group">
                                        {{ profile_form.location }}
                                    </div>
                                    <span class="text-error">{{ profile_form.location.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="col-md-6 mb-3">
                                <div class="form-group mb-4">
                                    <label for="{{ profile_form.established.id_for_label }}">{{ profile_form.established.label_tag }} </label>
                                    <div class="input-group">
                                        {{ profile_form.established }}
                                    </div>
                                    <span class="text-error">{{ profile_form.established.errors }}</span>
                                </div>
                            </div>
                            <!-- End of Form -->
                        </div>
                        <div class="mt-3">
                            <input class="btn btn-gray-800 mt-2 animate-up-2" form="profile_form" name="profile_form" type="submit"
                                value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    
    <div class="col-12 col-lg-6 mx-auto d-flex">
        <div class="card card-body border-0 shadow mb-4">
        <h1 class="h5 mb-4">Change Your Password Here</h1>
        <form method="post" id = "password_form">
            {% csrf_token %}
            <div class="row"> 
             <!-- Form -->
             <div class="col-md-6 mb-3">
                <div class="form-group mb-4">
                    <label for="{{ password_form.old_password.id_for_label }}">{{ password_form.old_password.label_tag }} </label>
                    <div class="input-group">                            
                        {{ password_form.old_password }}
                    </div>  
                    <span class="text-error">{{ password_form.old_password.errors }}</span>
                </div>
            </div>
            <!-- End of Form -->

            <!-- Form -->
            <div class="col-md-6 mb-3">
                <div class="form-group mb-4">
                    <label for="{{ password_form.new_password1.id_for_label }}">{{ password_form.new_password1.label_tag }} </label>
                    <div class="input-group">                            
                        {{ password_form.new_password1 }}
                    </div>  
                    <span class="text-error">{{ password_form.new_password1.errors }}</span>
                </div>
            </div>
            <!-- End of Form -->

            <!-- Form -->
             <div class="col-md-6 mb-3">
                <div class="form-group mb-4">
                    <label for="{{ password_form.new_password2.id_for_label }}">{{ password_form.new_password2.label_tag }} </label>
                    <div class="input-group">                            
                        {{ password_form.new_password2 }}
                    </div>  
                    <span class="text-error">{{ password_form.new_password2.errors }}</span>
                </div>
            </div>
            <!-- End of Form -->
            <div class="mt-3">
                <input  class="btn btn-gray-800 mt-2 animate-up-2" form = "password_form" name="password_form" type="submit" value="Update">  
            </div>
            </div>       
        </form>
        </div>
    </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#id_established').datepicker();
    });
</script>
{% endblock javascripts %}