
{% if msg %}
<div class="alert alert-secondary shadow-soft" role="alert">   
    {% for m in msg %}  
    <span class="alert-inner--text">{{ m }}</span>    
    {% endfor %} 
</div>
{% endif %}
<form id="ques_sug_form" hx-post="{% url 'home:sugest_new_ques_option' %}" hx-target="#quessugestionform" hx-swap="innerHTML">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 mb-3">
                <div class="form-group mb-4">
                    <div class="row">                       
                            <div class="p-2 col-sm-3">                                

                                {{ form.su_type }}<br>
                                {{ form.su_type.errors }}
                            </div>
                            <div class="p-2 col-sm-9">
                                {{ form.title }}<br>
                                {{ form.title.errors }}
                            </div>
                    </div>
                    <div class="row">                        
                            <div class="p-2 col-12">
                                {{ form.statement }}<br>
                                {{ form.statement.errors }}
                            </div>
                    </div>
                    {% if my_sugested_questions %}
                    <div class="row">                        
                        <div class="p-2 col-12">
                            {{ form.related_qs }}<br>
                            {{ form.related_qs.errors }}
                        </div>
                    </div>
                    {% endif %}
                          
                    <button class="btn btn-primary">Submite to Review</button>  
                    <a class="btn btn-warning" hx-get="{% url 'home:get_new_sugestion_list' %}"  hx-target="#new_sug_list" hx-swap="innerHTML">View all</a>   
                    
                </div>
            </div>
        </div>
    
    </form>
    
    <div class="container">  
        <div class="row">
            <div class="col-12" id="new_sug_list">
            </div>
        </div>
    </div>