{% extends "includes/g_base.html" %}
{% load static %}
{% block title %}{{site_info.title}}{% endblock %}
{% block header %}
{% include 'includes/g_header.html' %}
{% endblock %}   
{% block main %}
<main>
    {% include "includes/hero_section.html" %}
    <div class="section pt-0 pb-0  bgjessica-light-primary" style="min-height: 100vh;">
        <div class="container mt-n8 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="d-block text-center justify-content-center mt-7 mb-6 mb-lg-5">
                        <p>
                            This is the page for user type related to the biofuel. This is not a indivisual page for a registered user!
                        </p>
                        <p>
                            The Icon Showing below is decided by platform orgonizer to indicate <strong>{{user_type.name}}</strong> .
                        </p>
                        <div class="icon-user-type icon-shape-user-type  bg-transparent text-center shadow-lg rounded mb-4 mt-4">                            
                            <img src="{% static user_type.icon.url %}" alt="{{user_type.name}}}" class="p-4">
                        </div>
                        {% if request.user.is_authenticated %}
                        {% for title, url in enroll.items %} 
                        <h3 class="h5">
                            <a href="{{ url }}" class="btn btn-outline-primary d-inline-flex align-items-center me-md-3 shadow-lg"> 
                                {{title}}
                            </a>
                        </h3>
                        {% endfor %}
                        {% else %}
                        <h3 class="h5">
                            <a href="{% url 'accounts:signup' %}" class="btn btn-outline-primary d-inline-flex align-items-center me-md-3 shadow-lg">
                                Join as {{ user_type.name }} 
                            </a>
                        </h3>
                        {% endif %}
                        <p class="mt-5">
                            {% if user.is_authenticated %}
                             If you are looking dedicated page for registered user then follow the <a href="{% url 'accounts:user_link' user.username %}">LINK</a>
                            {% else %}
                             Dedicated page for indivisual user is accessible to the registered user!
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-lg  bgjessica-light pt-0 pb-0">
        <div class="container">            
        </div>
    </section>
</main>
{% endblock %}
{% block footer %}
{% include 'includes/g_footer.html' %}
{% endblock %}
