{% extends "includes/g_base.html" %}
{% load static %}
{% block title %}{{site_info.title}}{% endblock %}
{% block header %}
{% include 'includes/g_header.html' %}
{% endblock %}
{% block main %}
<main>
    {% include "includes/hero_section.html" %}
    <div class="section pt-0 pb-0  bg-light" style="min-height: 100vh;">
        <div class="container mt-n8 mt-lg-n12 z-2">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="d-block text-center justify-content-center mt-7 mb-6 mb-lg-5">
                        <h1>{{user_type.name}}</h1>
                        <div
                            class="icon-user-type icon-shape-user-type  bg-transparent text-center shadow-lg rounded mb-4 mt-4">
                            <img src="{{ user_type.icon.url }}" alt="{{user_type.name}}}" class="p-4">
                        </div>
                        {% if request.user.is_authenticated %}
                            {% for title, url in enroll.items %}
                            <h3 class="h5">
                                <a href="{{ url }}"
                                    class="btn btn-outline-primary d-inline-flex align-items-center me-md-3 shadow-lg">
                                    {{title}}
                                </a>
                            </h3>
                            {% endfor %}
                        {% else %}
                            <h3 class="h5">
                                <a href="{% url 'accounts:signup' %}"
                                    class="btn btn-outline-primary d-inline-flex align-items-center me-md-3 shadow-lg">
                                    Join as {{ user_type.name }}
                                </a>
                            </h3>
                        {% endif %}                        

                        <p class="mt-5">
                            This page is designed to provide information about various user types. This
                            page aims to cater to the needs of users who are looking for information and resources
                            related to different user types. The information provided here will be comprehensive and
                            updated regularly to ensure that users receive the most accurate and relevant information.
                            Whether you are a new or experienced user, this page is the perfect place to find everything
                            you need to know about user types.
                        </p> 
                        <p class="mt-5"> 
                            {% if user.is_authenticated %}
                            If you are searching for specific information about a particular user, you can click on this <a href="{% url 'accounts:user_link' %}">LINK</a>. 
                            {% else %}
                            Dedicated page for indivisual user is accessible to the registered user!
                            {% endif %}
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-lg  bgjessica-light pt-0 pb-0">
        <div class="container">
            {% if user.is_authenticated %}
            <div class="row">          
                {% for u in users %}                 
                <div class="col-md-6 col-xl-4 d-flex g-2">
                    <div class="card bg-light bg-gradient flex-fill p-0">
                        <img class="card-img-top w-100 bg-dark" src="{{ u.get_profile.profile_logo }}" alt="{{u.username}}" title={{u.username}}>
                        
                            <div class="card-header">
                               <h4>{% if u.orgonization %}{{u.orgonization}}{% else %}No Orgonization Found{% endif %}</h4>
                               <h5 class="text-muted"> {% if u.expert_in_name %} Expert In {{u.expert_in_name}} {% else %} No Experties Found {% endif %} </h5> 
                               <p>{{u.get_type}}</p>
                            </div>
                            <div class="card-body">
                            
                            <h6 class="card-subtitle mb-2 text-muted">
                                <i class="fa-solid fa-heart-circle-check"></i> <strong>Location:</strong> {% if u.get_profile.established  %} {{ u.get_profile.location }} {% else %} No Location Found {% endif  %}
                            </h6>
                            <p class="card-text">
                                <i class="fa-solid fa-heart-circle-check"></i> <strong>Established:</strong> {% if u.get_profile.established  %} {{ u.get_profile.established }} {% else %} No Date Found {% endif  %}                                                  
                            </p>                       
                            
                            </div>
                        {% if u.is_expert %} 
                         <a href="{% url 'partner_service' u.pk %}" class="btn btn-primary">Visit Service Listing</a>                       
                        {% endif %}
                                                             
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
            {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <div class="alert alert-secondary shadow-soft" role="alert">                      
                        <span class="alert-inner--text">Login to see the registered users</span>                   
                    </div>
                </div>                
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
{% block footer %}
{% include 'includes/g_footer.html' %}
{% endblock %}