*.pyc  
*~  
__pycache__  
gfvp_env
.vscode
evaluation_bkup  
task doing for mash.txt 
.DS_Store  
gfvp/settings.py
static/assets/scss
static/assets/gulpfile.js
static/assets/package.json
static/guide_image
static/assets/node_modules
static/assets/package-lock.json

for krishnahara.txt
mail template.txt
Presentation2.pptx
genarel guide.txt
features.txt
Features.txt
Logo new development.png


templates/home/index_bkup.html
logs/*
logs

graphical data advise by krishna.txt
