{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %}{{site_info.title}}{% endblock %} 
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <main>
        <section class="mt-5 d-flex align-items-center">
            <div class="container">               
                <div class="row justify-content-center" >                   
                    <a href="/" class="text-center mb-4">
                        <img src="{{ site_info.logo }}" class="mx-auto card bgjessica-primary" alt="{{site_info.name}}" width="auto" height="auto" style="max-width: 120px;">
                    </a>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    The Log In page of the {{site_info.name}}
                                </h1>
                                <br />
                                <div class="mb-4">
                                    {% if messages %}  
                                <div class="col-12">
                                    <div class="alert alert-secondary shadow-soft" role="alert">                            
                                        {% for message in messages %}
                                        <span >{{ message }}</span>
                                        {% endfor %}                            
                                    </div>                        
                                </div>
                                {% else %}
                                <p class="text-muted">{{text.credentials}} before click on the login button!</p> 
                                {% endif %} 
                                {% if form.non_field_errors and not messages %}
                                {% for error in form.non_field_errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                                {% endif %} 
                                </div>  
                            </div>
                            <form method="post" action="" class="mt-4">                                
                                {% csrf_token %}
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label class="mb-2 text-muted" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                <div class="input-group">                                    
                                    {{ form.username }}
                                </div>  
                                <span class="text-error invalid-feedback">{{ form.username.errors }}</span>
                            </div>
                            <!-- End of Form -->


                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label class="mb-2 text-muted" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                <a href="{% url 'password_reset' %}" class="float-end">{{text.forget_pass}}</a>
                                <div class="input-group">                                    
                                    {{ form.password }}
                                </div>  
                                <span class="text-error invalid-feedback">{{ form.password.errors }}</span>
                            </div>
                            <!-- End of Form -->


                           



                            <div class="d-flex justify-content-between align-items-top mb-4">                     

                            <div class="form-check">
                                {{ form.remember_me }}
                                <label class="mb-2 text-muted" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>" for="{{ form.remember_me.id_for_label }}">{{ form.remember_me.label }} </label>   
                                <span class="btn-primary p-2 rounded-circle" data-bs-toggle="tooltip" data-bs-html="true" title=" If 'remember me' selected the site will save cookies to your opened browser. So that within certain time (currently 30 days) you do not require to re-login. if you do not select 'remember me' then need to login after closing the browser. If your browser settings are set to clear all cookies during closing the browser then site will not save the cookies to your browser or computer to record login data.">
                                    ?
                                  </span> 
                                <span class="text-error invalid-feedback">{{ form.remember_me.errors }}</span>
                            </div>
                        </div>

                         <!-- Form -->
                         <div class="form-group mb-4">                                
                            <div class="input-group">                                    
                                {{ form.captcha }}
                            </div>  
                            <span class="text-error invalid-feedback">{{ form.captcha.errors }}</span>
                        </div>
                        <!-- End of Form -->

                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-gray-800">{{text.signin}}</button>
                                </div>
                            </form>
                            <br />                           

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    {{text.not_registered}}
                                    <a href="{% url 'accounts:signup' %}" class="fw-bold">{{text.create_account}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
