{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %}{{text.forget_pass}}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            
          <div class="row justify-content-center">
            <a href="/" class="text-center mb-4"><img src="{% static site_info.logo %}" class="mx-auto card bgjessica-primary" alt="{{site_info.name}}" style="max-width: 120px;"></a>
            <h2 class="text-center">
                {{text.forget_pass}}
            </h2>
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">
                            {{text.reset_pass}}
                        </h1>
                        <br />
                        <p>
                            {% if messages %}   
                            <div class="col-12 text-center">
                                <div class="alert alert-secondary shadow-soft" role="alert">                            
                                    {% for message in messages %}
                                    <span class="alert-inner--text">{{ message }}</span>
                                    {% endfor %}                            
                                </div>                        
                            </div>
                            {% endif %}                                   
                        </p> 
                    </div>
                    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-gray-800" value="Send me instructions!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}