{% extends "layouts/base-fullscreen.html" %}
{% block title %}Password reset complete{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                
                <div class="row justify-content-center">
                    <a href="/" class="text-center mb-4"><img src="{{site_info.logo}}" class="mx-auto card bg-lgreen" alt="{{site_info.name}}" style="max-width: 120px;"></a>
                    <h2  class="text-center">{{text.reset_complete}}</h2>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            

<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p> 
</div>
</div>
</div>
</div>
</section>
    </main>
{% endblock %}