
{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />





<title>
    {{site_info.meta_name}}-{% block title %}{% endblock %} 
</title>

{% include "includes/meta.html" %}



<script src="{% static 'assets/vendor/htmx/dist/htmx.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendor/font-awesome/js/all.min.js' %}" type="text/javascript"></script>
<link type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}" rel="stylesheet"> 
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet" type="text/css"> 
<link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"> 

{% block js %}{% endblock js %}

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% block content %}{% endblock content %}
    

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}   

</body>
</html>
