
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
  {{site_info.meta_name}}-{% block title %}{% endblock %} 
</title>

{% include "includes/meta.html" %}



<script src="{% static 'assets/vendor/htmx/dist/htmx.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendor/font-awesome/js/all.min.js' %}" type="text/javascript"></script>
<link type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}" rel="stylesheet" type="text/css"> 
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" type="text/css">

<link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet" type="text/css"> 
<link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"> 


{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/eva_sidebar.html' %}
    
    <main class="content" id = "indi">

      <div class="card p-4 my-3 bgjessica-light-primary"> 
        <div class=" mb-3 " >
         <a href="/"><img src="{% static 'new_logo.png' %}"  alt="{{site_info.name}}" title="{{site_info.name}}" width="auto" height="auto" style="max-width: 350px;" class="img-fluid" ></a>   
        </div>
        <div class="card-footer p-1 text-light">
        {{ timing_text }}

        </div>
      </div>
        

      {% block content %}{% endblock content %} 

      {% include 'includes/settings-box.html' %}

      {% include 'includes/footer.html' %}

    </main>

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
