.results .field-question {
    max-width: 200px;
    overflow: hidden;
}

.results .field-value {
    max-width: 50px;
    overflow: hidden;
}

.results .field-link {
    max-width: 280px;
    overflow: hidden;
}


.inline-related .field-next_question {
    max-width: 280px;
    overflow: hidden;
}