{% extends "admin/change_list.html" %}
{% block content %}
<div class="extra-info">
    {% if label_pending_in_logical_string %}
        <div class="errornote">
            <ul>
                <li>Alert about below Logical Strings: </li>
                <ul>
                    <li>The below logical strings objects have no 4 labels or all labels have value '0':</li>
                    <ul class="toplinks">
                        {% for ls in label_pending_in_logical_string %}
                            <li>{{ls}}</li>
                        {% endfor %}
                    </ul>
                    {# The following message explains the issue and its impact on the system. #}
                    This is an authentic system bug. It needs to be corrected in order to generate an accurate evaluation report 
                    and ensure the smooth functioning of the system.
                </ul>    
            </ul>
        </div>
    {% endif %}   
</div>
{{ block.super }} 
{# Include the content from the parent template. #}    
{% endblock %}