<!DOCTYPE html> 
{% load static %}
<html lang="en"> 

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

    <title>
      {{site_info.name}} - {% block title %}{% endblock %}
    </title>

    {% include "includes/meta.html" %}
  
    <script src="{% static 'assets/vendor/htmx/dist/htmx.min.js' %}" type="text/javascript"></script>
    <link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css"> 

    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  

  <body class="d-flex flex-column h-100">

    {% include 'feedback/floating.html' %}

    {% block header %}
    {% endblock %}

    {% block main %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% include 'includes/scripts.html' %}

    {% block javascripts %}
    {% endblock javascripts %}

  </body>
</html>
