
{% load static %}
<!DOCTYPE html>
<html lang="en"> 
{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

  <title>
    {{site_info.meta_name}}-{% block title %}{% endblock %}
  </title>

  {% include "includes/meta.html" %}

  <script src="https://unpkg.com/htmx.org@1.6.1"
    integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" 
    crossorigin="anonymous" 
    type="text/javascript">
  </script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet">

  {% block stylesheets %}{% endblock stylesheets %}
</head>
{% endblock %}
<body>
{% block header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% include 'includes/scripts.html' %}

{% block javascripts %}
{% endblock javascripts %}

</body>
</html>
