 
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

 
  <title>
    {{site_info.meta_name}}-{% block title %}{% endblock %}
  </title>
  {% include "includes/meta.html" %}


  <link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet">


</head>
{% endblock %}
<body>



{% block main %}
{% endblock %}


{% include 'includes/scripts.html' %}
{% block javascripts %}

{% endblock javascripts %}


</body>
</html>
