{% load static %}
<header class=" bgjessica-primary mb-4 ">
    <nav class="navbar navbar-expand-lg fixed-top bgjessica-primary border-bottom border-2"> 
        <div class="container p-2">
            <a href="/">
                <img src="{% static site_info.logo %}" class="card bgjessica-light-primary"  height="50px" alt="{{ site.name }}">
            </a>
            <button class="navbar-toggler bgjessica-light-primary text-white" style="min-height: 50px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
                    <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
            <div class="collapse bgjessica-primary navbar-collapse shadow-0 " style="top: 100%; height : fit-content!important; background:#7c9c9c; box-shadow:none; border-radius:0cm;" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">   
                    <li class="nav-item">
                        <a href="/#about" class="link-white btn p-1">About</a>
                    </li>                 
                    <li class="nav-item">
                        <a href="{% url 'home:dashboard' %}" class="link-white btn p-1">Dashboard</a>
                    </li>
                    {% if request.user.is_authenticated or request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:user_link' user.username %}" class="link-white btn p-1">My Profile</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_producer or request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'evaluation:evaluation2' %}" class="link-white btn p-1">Evaluation</a>
                    </li>
                    {% endif %}                    
                    {% if request.user.is_marine or request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'home:questions' %}" class="link-white btn p-1">Questions</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_expert or request.user.is_staff or request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'home:quotations' %}" class="link-white btn p-1">Quotations</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'blog:post_list' %}" class="link-white btn p-1">Blogs</a>
                    </li>   
                    <li class="nav-item">
                        <a href="{% url 'glossary:g_list' %}" class="link-white btn p-1">Glossary</a>
                    </li>                  
                </ul>
                <div class="nav-link dropdown">
                    {% if user.is_authenticated %}
                    <span class="dropdown-toggle link-white" id="dropdownMenuTop" data-bs-toggle="dropdown"
                        aria-expanded="false">Hi, {{user.username}}</span>
                    {% else %}
                    <span class="dropdown-toggle link-white" id="dropdownMenuTop" data-bs-toggle="dropdown"
                        aria-expanded="false">Account</span>
                    {% endif %}
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTop">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                        <li><a class="dropdown-item" href="{% url 'home:change_pass' %}">Reset Password</a></li>                        
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                        <li><a class="dropdown-item" href="/#register">Signup</a></li>
                        {% endif %}
                    </ul>                    
                </div>
            </div>
        </div>
    </nav>
</header>

