
{% if page.has_other_pages %}
<ul class="pagination mt-3 mb-0">
  {% if page.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;first</a></li>

    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a></li>
  {% else %}
    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
  {% endif %}
  {% for i in page.paginator.get_elided_page_range  %}
  
    {% if page.number == i %}
      <li class="active page-item"><span class="page-link">{{ i }}</span></li>
    {% else %}
      {% if i < 4 %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a></li>
      {% endif %}
    {% endif %}

  {% endfor %}
  {% if page.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;next</a></li>

  {% else %}
    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}


