{% load static %}

<!-- Core -->
<script src="{% static 'assets/vendor/@popperjs/core/dist/umd/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script> 
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js" type="text/javascript"></script>

<!-- Charts -->
<script src="{% static 'assets/vendor/chartist/dist/chartist.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}" type="text/javascript"></script>
<!-- Datepicker -->
<script src="{% static 'assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/moment.min.js' %}" type="text/javascript"></script>
<!-- Volt JS -->
<script src="{% static 'assets/js/volt.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}" type="text/javascript"></script>
<script>
    AOS.init();
</script>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script> 

{% comment %} <script>
  // Use JavaScript to show the modal on page load
  $(document).ready(function() {
    if ($('#cookie-consent').length) {
      $('#cookie-consent').modal('show');
    }
  });
</script> {% endcomment %}

<script>   
  // Display the beta information modal immediately
  $(document).ready(function() {
    if (!localStorage.getItem('betaInfoDialogShown')) {
      $('#beta-info-modal').modal('show');
      // Set a flag in localStorage to indicate that the dialog has been shown
      localStorage.setItem('betaInfoDialogShown', 'true');
      // Close the beta information modal and show the consent modal after 2 seconds
      setTimeout(function() {
        $('#beta-info-modal').modal('hide');
        // Show the cookie consent modal
        setTimeout(function() {      
          $('#cookie-consent').modal('show');
        }, 500); // Adjust the delay as needed for a smooth transition
      }, 7000); // Adjust the delay as needed (e.g., 2000 for 2 seconds)

    } else {

      $('#cookie-consent').modal('show');
      
    }
  });

</script>


