{% autoescape off %}
<!DOCTYPE html>
<html>
    <body>
Dear {{ user.username }},
<br>
<br>
Thank you for signing up with us. 
<br>
<br>

Green Fuel Validation Platform respects your privacy and is committed to protecting your personal data.
<br>
<br>

For {{ domain }} it has always been important that your personal information is handled in a safe manner, and we recommend that you familiarizes yourself with our GDPR Policy that describes how and why we process your personal information.
<br>
<br>
Your new account has been set up and you can now login to our client area using the details below.<br>
Email Address: {{ user.email }}<br>
Password: Your Passowrd.<br>
To login, visit : <a href="{{ login }}"> LOGIN </a>
<br>
<br>

You can at any time contact {{ domain }} if you have concerns related to data privacy by emailing our Data Privacy Team  info@gf-vp.com.

<br>
<br>

Best regards,<br><br>
Green Fuel Validation Platform<br>
{{ domain }}<br>
24/7/365 Support: Live Chat | Helpdesk | Email<br><br>

Krishna Hara Chakravarty<br>
GDPR Officer<br>
krishna.hara.chakravarti@gmail.com <br><br>


Follow us on<br>
https://twitter.com/<br>
https://www.facebook.com/<br>
https://www.linkedin.com/company/<br>

</body>
</html>
{% endautoescape %}



