{% extends "layouts/base-fullscreen.html" %}
{% load i18n %}
{% load static %}


{% block title %} {{text.error403}} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <a href="/" class="d-flex justify-content-center">
                                <img src="{% static site_info.logo %}" height="100" class="mb-4" alt="{{site_info.name}}">
                            </a>
                            <h1 class="mt-5">
                                {% translate "Access" %} <span class="fw-bolder text-primary">{% translate "denied" %}</span>
                            </h1>
                            <p class="lead my-4">
                                {% translate "Please contact support or authenticate" %}
                            </p>
                            <a class="btn btn-dark animate-hover" href="{% url 'login' %}">
                               <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>{% translate "LOGIN" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
