{% load static %}
<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-2 shadow">
    <div class="col-12 col-md-4">
<a class="logo me-md-3" href="{% url 'guide:guide_home' %}" title="gf-vp guide"> <img src="{% static 'guide/logo-02.png' %}" height="35px" alt="gf-vp guide"> </a> 
    
    
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <div class="col-12 col-md-8">
    <ul class="nav nav-pills justify-content-center justify-content-md-end">
        <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>
        {% for menu in guide_general_menu %}
        <li class="nav-item"><a class="nav-link" href="{{ menu.get_absolute_url }}">{{menu.title}}</a></li>
        {% endfor %}            
      </ul>
  </div>  
</header>