{% load static %}

{% include "guide/guide_head.html" %}

{% include "guide/preloaded.html" %}
    

    
    

      

      {% include "guide/header.html" %}
      
      <!-- Content
      ============================ -->
      <div id="content" role="main">
        
        <!-- Sidebar Navigation
        ============================ -->
        <div class="idocs-navigation bg-light">


            <ul class="nav flex-column " >            
                {% for ggm in guide %} 
                {% if not ggm.parent %}
                    <li class="nav-item">
                      <a class="nav-link active" href="#{{ggm.anchor}}">{{ggm.title}}</a>  
                      <ul class="nav flex-column">
                        {% for child in guide %}
                        {% if child.parent == ggm  %}
                        <li class="nav-item">
                          <a class="nav-link" href="#{{child.anchor}}">{{child.title}}</a>  
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </li>
                {% endif %}
                    
                {% endfor %}
                </ul>     
        </div>
        
        <!-- Docs Content
        ============================ -->
        <div class="idocs-content">
          <div class="container"> 

            {% for g in guide %}
            <section id="{{g.anchor}}">
              <h1>{{g.title}}</h1>
              
                {{g.content.html|safe}}
              
              </section>
              
              <hr class="divider">

            {% endfor %}

             
            
            
          </div>
        </div>
        
      </div>
      <!-- Content end --> 
      
      

    {% include "guide/guide_foot.html" %}
    
   