{% load static %}

{% include "guide/guide_head.html" %}

{% include "guide/preloaded.html" %}
{% include "guide/header.html" %}

<div id="content" role="main">
  
    <div class="container"> 
      
      <!-- Getting Started
      ============================ -->
      <section id="idocs_start">

        <div class="row p-3 justify-content-center">
            <ul>
                {% for t in type %}
                <li>{{t.title}}</li>
                <ul>
                    {% for m in t.typeofguide.all %}
                    <li><a href="{{m.get_absolute_url}}">{{m.title}}</a> </li>
                    <ul>            
                        {% for ggm in m.menuofguide.all %} 
                        {% if not ggm.parent %}
                            <li>
                              <a href="{{m.get_absolute_url}}#{{ggm.anchor}}">{{ggm.title}}</a>  
                            </li>
                        {% endif %}
                            <ul>
                                {% for child in m.menuofguide.all %}
                                {% if child.parent == ggm  %}
                                <li>
                                  <a href="{{m.get_absolute_url}}#{{child.anchor}}">{{child.title}}</a>  
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>         
                                 
        </div>
</section>
</div>

</div>

{% include "guide/guide_foot.html" %}
