{% load static %}

{% include "guide/guide_head.html" %}

{% include "guide/preloaded.html" %}
{% include "guide/header.html" %}

<div id="content" role="main">
  
    <div class="container"> 
      
      <!-- Getting Started
      ============================ -->
      <section id="idocs_start">

        <div class="row p-3 justify-content-center">


          {% for gt in guide_type %}                          
        <div class="col-sm-6 mb-3">
          <div class="card bg-white border-0 shadow">
              <a href="{{ gt.get_absolute_url }}">
              <div class="card-body">
                  <div class="row d-block d-flex align-items-center">
                      <div class="text-center">                                   
        
                      <div class="icon icon-shape rounded mb-4">                                                
                          <img class="img-fluid" src="{% static gt.icon_image.url %}" alt="">
                      </div>
                      <div class=" text-center mb-3 mb-0 d-flex align-items-center justify-content-center">
                          <h3 class="h5">{{ gt.title }}</h3>
                      </div>                                        
                  </div>                                            
                  </div>
              </div>
          </a> 
          </div>                            
        </div>   
        {% endfor %}                     
                                  
                              
                                 
        </div>
</section>
</div>

</div>

{% include "guide/guide_foot.html" %}


