<div class="feedbakbtn fixed-bottom {% if request.COOKIES.cookie_consent %}justify-content-between{% else %}justify-content-end {% endif %} d-flex">



  {% if request.COOKIES.cookie_consent %}
        <form method="post" action="{% url 'gf_cookies:cookie_consent' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="consent" value="decline">Decline Cookie Consent</button>         
        </form>
  {% endif %}




  <a class="btn btn-danger" 
  type="button" 
  data-bs-toggle="offcanvas" 
  data-bs-target="#feedbackcanvas" 
  aria-controls="feedbackcanvas" 
  title="Information"
  id="feedbackbutton">Feedback</a>


  
  
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="feedbackcanvas" data-bs-scroll="true" aria-labelledby="feedbackcanvasLabel" hx-get={% url 'feedback:submit_feedback' %} hx-target="#canasbody" hx-swap="innerHTML" hx-trigger="revealed once">
  <div class="offcanvas-header">
    <h5 id="feedbackcanvasLabel">We consider your valuable feedback about this page you visiting.</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div id="canasbody" class="offcanvas-body">
    
  </div>
</div>
